html,body {height: 100%;}
           
          
          @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);

body {
 
   background: #DDD; 
  font-size: 15px;
}
#container{
  width: 80%;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 60px;
  
  padding: 0;
  position: relative;
}
h1{
   font-family :'Bree Serif' ;
    font-size : 4em; 
     width: 30%;
              margin-left: 500px;
              color: #775d5d;
}
.random-article{
  margin-bottom: 70px;
  margin-top: 50px;
}

input[type="text"] {
  height: 60px;
  font-size: 55px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  /*padding-right: 60px;*/
  width: 60%;
  position: absolute;
  top: 0;
  left: 300px;
  background: none;
  z-index: 3;
  /*transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);*/
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
  width: 700px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
#searchSubmit {
  height: 67px;
  width: 63px;
  display: inline-block;
  color:red;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  
  top: 0;
  right: 0;
  z-index: 10;
  
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

#searchSubmit:hover {
  opacity: 0.8;
}

 a{
                color : #585454;
               font-family: Apple Chancery, cursive ;
               font-size: 1.5rem ;
               text-decoration-line: none;
              width: 30%;
              margin-left: 500px;
            }

#result{
  background-color: #aab1e1;
    border-style: ridge;
    border-color: #7a78ba;
    border-width: 7px;
}
